@font-face {
  font-family: "Chillax";
  src: url("/fonts/Chillax/Chillax.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Albert Sans";
  src: url("/fonts/Albert Sans/AlbertSans-VariableFont_wght.ttf")
    format("truetype-variations");
  font-weight: 1 999;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.videoWrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
  display: flex;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.comment-collapse-button {
  position: absolute;
  left: -4px;
  bottom: 0;
  width: 10px;
  height: calc(100% - 12px);
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;

  background-clip: padding-box;
  opacity: 0.8;
  cursor: pointer;
}

.comment-collapse-button:hover {
  opacity: 1;
}

.comment-depth-0 {
  background-color: #59ba12ff !important;
}

.comment-depth-1 {
  background-color: #7312ba !important;
}

.comment-depth-2 {
  background-color: #1f12ba !important;
}

.comment-depth-3 {
  background-color: #ba1259 !important;
}

.comment-depth-4 {
  background-color: #acba12 !important;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 4px;
  height: 10px;
  padding-top: 40px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3);
  border: 1px solid black;
  background: black;
}
::-webkit-scrollbar-thumb {
  height: 30px;
  width: 8px;
  -webkit-box-shadow: 0 1px 1px rgb(0, 0, 0);
  background: #59ba12;
}

::-webkit-scrollbar-track-piece {
  height: 30px;
  width: 30px;
}
