@font-face {
  font-family: "Chillax";
  src: url("/fonts/Chillax/Chillax.ttf");
  font-weight: 400;
  font-style: normal;
}

html {
  color-scheme: dark;
}
body {
  color: white;
  background: black;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.videoWrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
  display: flex;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.comment-collapse-button {
  position: absolute;
  left: -4px;
  bottom: 0;
  width: 10px;
  height: calc(100% - 12px);
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;

  background-clip: padding-box;
  opacity: 0.8;
  cursor: pointer;
}

.comment-collapse-button:hover {
  opacity: 1;
}

.comment-depth-1 {
  background-color: #59ba12ff !important;
}

.comment-depth-2 {
  background-color: #7312ba !important;
}

.comment-depth-3 {
  background-color: #1f12ba !important;
}

.comment-depth-4 {
  background-color: #ba1259 !important;
}
